body {
  margin: 0;
  padding: 0;
  background-color: #d39c69;
  height: 100%;
  overflow: auto;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}
header {
  background: #904500;
  font-family: Helvetica, Arial, sans-serif;
  color: #000000;
  font-weight: 400px;
  text-align: center;
  margin-bottom: 10px;
  font-size: 15px;
  flex-direction: column;
  display: flex;
}

/* CARDS DO HOTEIS */

.hotel-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.hotel-card {
  background: #f8af6a7c;
  border: 1px solid #813e00;
  border-radius: 8px;
  overflow: hidden;
  width: calc(33.333% - 20px); /* 3 cards per row with gap */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.hotel-card img {
  width: 100%;
  height: auto;
}
.hotel-card .content {
  padding: 15px;
}
.hotel-card h2 {
  margin-top: 0;
  color: #333;
}
.hotel-card p {
  margin: 10px 0;
}
.hotel-card ul {
  list-style: none;
  padding: 0;
}
.hotel-card ul li {
  background: #9046003d;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
}

body {
  text-align: center;
  background-color: #ffcc8e;
}

/* BOTAO DE CADASTRO E LOGIN */
.button {
  position: relative;
  display: inline-block;
  margin: 0px;
  padding-bottom: 30px;
}

.button a {
  color: white;
  font-family: Helvetica, sans-serif;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  background-color: #d17118da;
  display: block;
  position: relative;

  left: 200%;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 1px 0px #000;
  filter: dropshadow(color=#000, offx=0px, offy=1px);

  -webkit-box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #915100;
  -moz-box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #915100;
  box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #915100;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 10px;
}

.button a:active {
  top: 10px;
  background-color: #f78900;

  -webkit-box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3px 0 #915100;
  -moz-box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3pxpx 0 #915100;
  box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3px 0 #915100;
}

.button:after {
  content: "";
  height: 100%;
  width: 100%;
  padding: 4px;
  position: absolute;
  bottom: -15px;
  left: -4px;
  z-index: -1;
  background-color: #2b1800;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* ESTILIZAÇÃO DOS LINKS DO HOTEIS */
a {
  text-decoration: none;
  color: #fffffffb;
  padding-top: 10px;
  padding-bottom: 10px;
  left: 100px;
  height: 50px;
  font-size: 30px;
}

a:hover {
  color: rgb(248, 118, 25);
  font-style: italic;
}

footer {
  background-color: #904500; /* Cor de fundo do rodapé */
  color: white; /* Cor do texto do rodapé */
  padding: 20px 0; /* Espaçamento interno do rodapé */
  position: relative;
  bottom: 0;
  width: 50%;
  height: 190px;
}
